{% extends 'NewLousList/base.html' %}
        {% block css %}
            .button {
                text-decoration: none;
            }

            /* Style for button attribute */
            .button a {
                float: left;
                display: block;
                text-align: center;
                padding: 10px 12px;
                color: #030303;
                background-color: rgba(177, 177, 177, 0.768);
                transition: 500ms;
                border-radius: 10px;
            }

            .button a:link {
                text-decoration: none;
            }

            /* Style button after clicked */
            .button a:visited {
                text-decoration: none;
                color:#060606;
            }

            /* Change color and radius on hover with added transition */
            .button a:hover {
                float: left;
                text-decoration: none;
                background-color: rgba(192, 192, 192, 0.768);
                transition: 400ms;
                transition-delay: 100ms;
                border-radius: 20px;
            }

            .button a:active {
                text-decoration: none;
                background-color: rgba(218, 131, 0, 0.768);
            }
        {% endblock %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    {% block refresh%}
     <a class="navbar-brand" href = "{% url 'NewLousList:profile' %}">{{user}}</a>
    {% endblock %}

      {% block search%}
      {% endblock %}

      {% block specifics %}
      {% endblock %}

{% block content %}
<div class = "container mt-4">
    <h3>
        {{profile.user.username}}
    </h3>
            <form action="{% url 'NewLousList:edit_profile' %}" method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" name = "first_name" placeholder="John" value = "{{profile.first_name}}">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name = "last_name" value = "{{profile.last_name}}" placeholder="Doe">
                </div>
                <div class="form-group">
                    <label for="major">Major</label>
                    <input type="text" class="form-control" id="major" name = "major" value = "{{profile.major}}" placeholder="Computer Science">
                </div>
                <div class="form-group">
                    <label for="grad_year">Graduation Year</label>
                    <input min="{{year}}" required type="number" class="form-control" id="grad_year" value = "{{profile.grad_year}}" name = "grad_year" placeholder="2000">
                </div>
                <div class="form-group">
                    <input class = "btn btn-primary mt-2" type="submit" value="Update Profile">
                </div>
              </form>
    </div>
    

    {% endblock %}